﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Map.aspx.cs" Inherits="Map" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>系统地图</title>
    <script> 
   function window.onload() 
   { 
   window.resizeTo(650,550); 
   window.moveTo(screen.Width/8,screen.Height/8);
   window.scroll=false;
   } 
   </script>
</head>
<body background="PIC/Map.jpg" style="background-repeat:no-repeat">
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server" BackColor="Transparent" BorderStyle="None"
            Height="33px" Style="z-index: 100; left: 436px; position: absolute; top: 233px" Width="36px" OnClientClick="window.open('Boiler1.aspx')" Text="1" />
        <asp:Button ID="Button2" runat="server" BackColor="Transparent" BorderStyle="None"
            Height="37px" Style="z-index: 101; left: 368px; position: absolute; top: 277px" Width="44px" OnClientClick="window.open('Boiler1.aspx')" Text="5 "/>
        <asp:Button ID="Button3" runat="server" BackColor="Transparent" BorderStyle="None"
            Height="29px" Style="z-index: 102; left: 468px; position: absolute; top: 266px" Width="42px" OnClientClick="window.open('Boiler1.aspx')" Text="3"/>
        <asp:Button ID="Button4" runat="server" BackColor="Transparent" BorderStyle="None"
            Height="33px" Style="z-index: 103; left: 411px; position: absolute; top: 268px" Width="37px" OnClientClick="window.open('Boiler1.aspx')" Text="4"/>
        <asp:Button ID="Button6" runat="server" BackColor="Transparent" BorderStyle="None"
            Height="24px" Style="z-index: 104; left: 486px; position: absolute; top: 235px" Width="40px" OnClientClick="window.open('Boiler1.aspx')" Text="2"/>
        <asp:Button ID="Button7" runat="server" BackColor="Transparent" BorderStyle="None"
            Height="37px" Style="z-index: 105; left: 395px; position: absolute; top: 321px" Width="44px" OnClientClick="window.open('Boiler1.aspx')" Text="7"/>
        <asp:Button ID="Button8" runat="server" BackColor="Transparent" BorderStyle="None"
            Height="34px" Style="z-index: 106; left: 343px; position: absolute; top: 312px" Width="38px" OnClientClick="window.open('Boiler1.aspx')" Text="8"/>
        <asp:Button ID="Button5" runat="server" BackColor="Transparent" BorderStyle="None"
            Height="35px" Style="z-index: 107; left: 445px; position: absolute; top: 295px" Width="39px" OnClientClick="window.open('Boiler1.aspx')" Text="6"/>
        <asp:Button ID="Button101" runat="server" BackColor="Transparent" BorderStyle="None"
            Font-Size="Small" ForeColor="Red" OnClientClick="window.open('OnLineNo.aspx')"
            Style="z-index: 108; left: 429px; position: absolute; top: 8px" Width="26px" />
        <asp:LoginName ID="LoginName1" runat="server" ForeColor="Red" Style="z-index: 109;
            left: 223px; position: absolute; top: 7px" />
        <asp:LoginStatus ID="LoginStatus1" runat="server" Style="z-index: 110; left: 288px;
            position: absolute; top: 8px" />
        <asp:Label ID="Label1" runat="server" ForeColor="Red" Style="z-index: 111; left: 175px;
            position: absolute; top: 7px" Text="欢迎您"></asp:Label>
        <asp:Label ID="Label2" runat="server" ForeColor="Red" Style="z-index: 112; left: 334px;
            position: absolute; top: 8px" Text="目前在线人数:"></asp:Label>
        <asp:Label ID="Label3" runat="server" ForeColor="Red" Height="50px" Style="z-index: 114;
            left: 272px; position: absolute; top: 45px" Text="点击地图连接到不同子公司" Width="108px"></asp:Label>
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Boiler1.aspx" Style="left: 100px;
            position: relative; top: 70px">1</asp:HyperLink>
        <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Login.aspx" Style="left: 41px;
            position: relative; top: 111px">Login</asp:HyperLink></div>
    </form>
</body>
</html>
