﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="OT.aspx.cs" Inherits="OT" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Panel ID="Panel1" runat="server" Height="670px" Style="background-image: url(PIC/Outline_890.gif); left: 98px; position: absolute; top: 57px;"
        Width="890px">
    </asp:Panel>
</asp:Content>

