﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Outline.aspx.cs" Inherits="_Generator" Title="白马山水泥厂水泥生产系统--总貌" %>
<%@ Register Assembly="MagicAjax" Namespace="MagicAjax.UI.Controls" TagPrefix="ajax" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<asp:Panel ID="Panel1" runat="server" BackImageUrl="~/PIC/Outline_890.GIF" Height="670px"
            Style=" background-repeat:no-repeat;left: 98px; position:absolute ; top: 57px; background-image: url(PIC/Outline_890.gif);" Width="890px"  EnableViewState="False">
            <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <asp:UpdatePanel ID="UpdatePanel2" runat="server">
        <contenttemplate>
<asp:Image style="LEFT: 160px; POSITION: absolute; TOP: 122px" id="Image1" runat="server" ImageUrl="~/PIC/Circle_Green-.GIF" Width="26px" Height="28px" __designer:wfdid="w12"></asp:Image> <asp:Image style="LEFT: 6px; POSITION: absolute; TOP: 287px" id="Image2" runat="server" ImageUrl="~/PIC/Circle_Green-.GIF" Width="14px" Height="16px" __designer:wfdid="w13"></asp:Image> <asp:Image style="LEFT: 569px; POSITION: absolute; TOP: 402px" id="Image3" runat="server" ImageUrl="~/PIC/Circle_Green-.GIF" Width="14px" Height="16px" __designer:wfdid="w14"></asp:Image> <asp:Image style="LEFT: 214px; POSITION: absolute; TOP: 501px" id="Image4" runat="server" ImageUrl="~/PIC/Circle_Green-.GIF" Width="14px" Height="16px" __designer:wfdid="w15"></asp:Image> <asp:Image style="LEFT: 8px; POSITION: absolute; TOP: 413px" id="Image5" runat="server" ImageUrl="~/PIC/Circle_Green-.GIF" Width="14px" Height="16px" __designer:wfdid="w16"></asp:Image> <asp:Image style="LEFT: 415px; POSITION: absolute; TOP: 135px" id="Image6" runat="server" ImageUrl="~/PIC/Circle_Green-.GIF" Width="14px" Height="16px" __designer:wfdid="w17"></asp:Image> <asp:Image style="LEFT: 610px; POSITION: absolute; TOP: 402px" id="Image7" runat="server" ImageUrl="~/PIC/Circle_Green-.GIF" Width="14px" Height="16px" __designer:wfdid="w18"></asp:Image> <asp:Image style="LEFT: 671px; POSITION: absolute; TOP: 221px" id="Image8" runat="server" Visible="False" ImageUrl="~/PIC/Circle_Green-.GIF" Width="14px" Height="16px" __designer:wfdid="w19"></asp:Image>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <asp:Button style="LEFT: 778px; COLOR: aqua; POSITION: absolute; TOP: 10px" id="Button14" runat="server" Text="Online NO" Width="99px" Font-Size="XX-Small" EnableViewState="False" __designer:wfdid="w20" BorderStyle="None" BackColor="Transparent"></asp:Button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
</contenttemplate> 
        <triggers>
           <asp:AsyncPostBackTrigger ControlID="Timer1" EventName="Tick"></asp:AsyncPostBackTrigger>
           </triggers>
        </asp:UpdatePanel>
        <asp:Timer ID="Timer1" runat="server" Interval="1000" OnTick="Timer1_Tick">
        </asp:Timer>                 &nbsp;
    </asp:Panel>
</asp:Content>

