﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="Real_time_Data.aspx.cs" Inherits="_Default" %>

<%@ Register Assembly="MagicAjax" Namespace="MagicAjax.UI.Controls" TagPrefix="ajax" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>无标题页</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        &nbsp; &nbsp;
        <asp:GridView ID="GridView1" runat="server" Style="z-index: 102; left: 456px; position: absolute;
            top: 180px">
        </asp:GridView>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Style="z-index: 101;
            left: 15px; position: relative; top: 10px;" Text="Button" /></div>
        <asp:TextBox ID="TextBox1" runat="server" Height="96px" Width="236px" OnTextChanged="TextBox1_TextChanged" style="left: 113px; position: relative; top: -21px;" ></asp:TextBox>
        <ajax:AjaxPanel ID="AjaxPanel1" runat="server" Height="258px" Style="left: 76px;
            position: relative; top: -2px" Width="300px">
            AjaxPanel<asp:GridView ID="GridView2" runat="server" Style="left: -41px; position: relative;
                top: 49px">
            </asp:GridView>
        </ajax:AjaxPanel>
    </form>
</body>
</html>
